/* General Styles */
:root {
  --jet-color: #fe7e01;
  --bg-white: #eeedea;
}

/* Regular */
@font-face {
  font-family: "JETSans";
  src: url("JETSans/JETSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JETSans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
  height: 100vh;
  width: 100vw;
}

/* Top bar of page */
.header {
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .jet-logo img {
    height: 50%;
    padding-left: 18%;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-white);

  .main-image {
    width: 100%;
    height: 60%;
    background-image: url("./images/bg_hero-wide.jpg");
    background-position: center;
    background-size: 100vw;
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
  }

  .search-container {
    width: 700px;
    height: 250px;
    margin-top: 30%;
    justify-self: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-title {
      margin-top: 2%;
    }
    .main-title span {
      color: var(--jet-color);
      font-family: monospace;
      font-weight: bolder;
      font-size: 40px;
    }

    .sub-text {
      margin-top: 2%;
    }

    .sub-text span {
      color: rgb(134, 132, 132);
      font-size: larger;
    }
    .search-bar {
      margin-top: 4%;
      border: 0.7px black solid;
      border-radius: 100px;
      width: 50%;
      height: 30%;
      display: flex;
      align-items: center;

      .search-input {
        border: none;
        font-size: larger;
        padding-left: 7%;
        outline-width: 0px;
        border-radius: 100px;
      }

      .search-btn {
        margin-left: 44.5px;

        .search-icon {
          color: white;
          padding: 14px;
          height: 50%;
          width: 70%;
          border-radius: 100px;
          background-color: var(--jet-color);
        }

        .search-icon:hover {
          filter: brightness(0.95);
          cursor: hand;
        }

        .search-icon:active {
          scale: (0.9);
        }
      }
    }

    .error-msg {
      margin-top: 10px;
    }
    .error-msg span {
      color: white;
    }
  }
}
