/* General Styles */
:root {
  --jet-color: #f36805;
  --bg-white: #eeedea;
}

/* Regular */
@font-face {
  font-family: "JETSans";
  src: url("JETSans/JETSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JETSans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
}

/* Top bar of page */
.header {
  background-color: var(--jet-color);
  color: #fff;
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .jet-logo img {
    height: 50%;
    padding-left: 18%;
  }
}

/* Naviagtion bar inbetween top header and grid */
.sub-header {
  display: flex;
  flex-direction: row;
  height: 54px;
  padding-left: 3.8%;
  padding-right: 3.8%;
  margin-top: 10px;
  background-color: var(--bg-white-);

  /* Location pin & postcode */
  .location-details {
    height: 98%;
    width: 150px;
    background-color: white;
    border-radius: 30px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    .location-pin {
      padding-left: 10%;
    }

    /* Postcode */
    .location-name {
      padding-left: 10%;
      justify-self: center;
    }
  }

  .search-bar {
    height: 98%;
    width: 30%;
    background-color: none;
    border-radius: 30px;
    align-self: center;
    margin-left: 23.5%;
    display: flex;

    .search-field {
      height: 100%;
      width: 60%;
      background-color: white;
      border-width: 0px;
      border-radius: 30px;
      text-align: center;
      margin-left: 15%;
      border-color: none;
      font-family: "JETSans";
      font-size: medium;
    }

    .search-btn {
      background-color: var(--jet-color);
      border-radius: 100px;
      width: 14%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }

    .search-btn:hover {
      filter: brightness(92%);
      cursor: hand;
      opacity: 90%;
    }

    .search-btn:active {
      scale: 0.95;
    }
  }

  .navigation-button-container {
    width: 9%;
    height: 98%;
    background-color: none;
    border-radius: 30px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .navigation-btn {
      justify-self: flex-end;
      border-radius: 50px;
      padding: 13px;
      background-color: white;
      margin-right: 5px;
    }

    .navigation-btn:hover {
      filter: brightness(97%);
      cursor: hand;
    }

    .navigation-btn:active {
      scale: 0.95;
    }
  }
}

/* Overall grid formatting */
.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* Grid row formatting */
  .grid-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    /* Individual listing style */
    .single-listing {
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 10px;
      overflow: hidden;
      width: 30%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: var(--jet-color);
      background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXN6MHV6dHRmZGxuMm04amphZHM1MnJ5aHJ1b29xbWQ0cGtiNnQ3YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI6SIIHBdRxXI40/giphy.gif);

      /* Image section */
      .restaurant-image img {
        width: auto;
        object-fit: fill;
        padding: 10px;
        border-radius: 100px;
      }

      /* Text section */
      .restaurant-text {
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 120px;

        /* text row 1 */
        .row-1 {
          display: flex;
          height: 33%;
          align-items: center;
          width: 100%;
          justify-content: center;

          .restaurant-name {
            width: 100%;
            font-weight: bold;
            font-size: larger;
          }

          .restaurant-rating {
            color: black;
            background-color: #d3d3d3;
            border-radius: 100px;
            padding: 10px;
            font-size: smaller;
          }
        }

        /* text row 2 */
        .row-2 {
          display: flex;
          height: 33%;
          align-items: center;
          width: 100%;
          .restaurant-cuisines {
            color: black;
            font-size: 14px;
          }
        }

        /* text row 3 */
        .row-3 {
          display: flex;
          height: 33%;
          align-items: center;
          width: 100%;

          .restaurant-address {
            color: #838383;
            font-size: 14px;
            width: 100%;
            border-top: #838383 solid;
            padding-top: 5px;
            justify-content: flex-end;
          }
        }
      }
    }

    .single-listing:hover {
      cursor: hand;
      box-shadow: inset 0 0 1px #000;
    }

    .single-listing:active {
      scale: 0.98;
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .grid-row {
    flex-direction: column;
    align-items: center;
  }

  .single-listing {
    width: 80%;
  }
}
