/* General Styles */
:root {
  --jet-color: #f36805;
  --bg-white: #eeedea;
}

/* Regular */
@font-face {
  font-family: "JETSans";
  src: url("JETSans/JETSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JETSans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
}

.header {
  background-color: var(--jet-color);
  color: #fff;
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Single Listing Styles */
.single-listing {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 30%;
  background-size: 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--jet-color);
  background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXN6MHV6dHRmZGxuMm04amphZHM1MnJ5aHJ1b29xbWQ0cGtiNnQ3YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI6SIIHBdRxXI40/giphy.gif);
}

.single-listing:hover {
  cursor: hand;
  box-shadow: inset 0 0 1px #000;
}

.single-listing:active {
  scale: 0.98;
}

.restaurant-image img {
  width: auto;
  object-fit: cover;
  padding: 10px;
  /* //border: white solid 1px; */
}

.restaurant-text {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 120px;
}

.restaurant-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.restaurant-rating {
  color: #ffa500;
  margin-bottom: 5px;
}

.restaurant-cuisines {
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
}

.restaurant-address {
  color: #838383;
  font-size: 14px;
  border-top: #838383 solid;
  padding-top: 5px;
  justify-content: flex-end;
}

/* Media Queries */
@media (max-width: 768px) {
  .grid-row {
    flex-direction: column;
    align-items: center;
  }

  .single-listing {
    width: 80%;
  }
}
