<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/indexStyles.css" />
  </head>
  <body>
    <div class="flexbox-container">
      <div class="small-backdrop">
        <div class="flexbox-container">
          <div class="flexbox-item">
            <h1 class="logo">JUST SEEK</h1>
          </div>
          <div class="flexbox-item">
            <input type="text" placeholder="Enter Postcode" id="searchBar" />
          </div>
          <div class="flexbox-item">
            <button class="searchButton">Search</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/indexScript.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
