<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Info</title>
    <link rel="stylesheet" href="../css/restaurantInfoStyles.css" />
  </head>
  <body>
    <div class="headerBar">
      <h1></h1>
    </div>
    <div class="container">
      <div class="restaurantInfo">
        <div class="flex-container">
          <div class="logo"></div>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps?q=[5-7 Clerkenwell Green, EC1R 0DE, London]&output=embed"
          loading="lazy"
          class="restaurantPin"
        ></iframe>
      </div>
    </div>
    <script src="../scripts/restaurantInfoScript.js"></script>
  </body>
</html>
