<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>

    <div class="restaurant-grid">
      <div class="grid-row">
        <div class="single-listing">
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
