<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="../css/searchResultsStyles.css" />
  </head>
  <body>
    <div class="header">
      <h1>Search Results</h1>
    </div>

    <div class="restaurant-grid">
      <!-- Start of row 1 -->
      <div class="grid-row">
        <!-- Listing 1 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>

        <!-- Listing 2 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
        <!-- Listing 3 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Start of row 2 -->
      <div class="grid-row">
        <!-- Listing 4 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>

        <!-- Listing 5 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
        <!-- Listing 6 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Start or row 3 -->

      <div class="grid-row">
        <!-- Listing 7 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>

        <!-- Listing 8 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
        <!-- Listing 9 -->
        <div class="single-listing">
          <div class="restaurant-image">
            <img
              src="http://d30v2pzvrfyzpo.cloudfront.net/uk/images/restaurants/163019.gif"
            />
          </div>
          <div class="restaurant-text">
            <div class="restaurant-name">
              <span>The breakfast club</span>
            </div>
            <div class="restaurant-rating">
              <span>4.4</span>
            </div>
            <div class="restaurant-address">
              <span>126 Upper Mill Street</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of grid row -->
    </div>
    <!-- End of listing grid -->
    <div class="bottom-navigation-bar">
      <div class="button-row">
        <div class="nav-button"></div>
      </div>
    </div>

    <script src="../scripts/searchResultsScript.js"></script>
  </body>
</html>
