<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results</title>
    <link rel="stylesheet" href="../css/searchResultsStyles.css" />
  </head>
  <body>
    <div class="header">
      <div class="jet-logo">
        <img src="../css/images/JETLogoWhite.png" alt="" />
      </div>
    </div>
    <div class="sub-header">
      <!-- Address -->
      <div class="location-details">
        <div class="location-pin">
          <i data-feather="map-pin"></i>
        </div>
        <div class="location-name">
          <span>Athens</span>
        </div>
      </div>
      <!-- Additional search bar -->
      <div class="search-bar">
        <input type="text" placeholder="Enter Cuisine" class="search-field" />
        <div class="search-btn">
          <div class="icon">
            <i data-feather="search" style="color: white"></i>
          </div>
        </div>
      </div>
      <!-- Left and right arrows -->
      <div class="navigation-button-container">
        <div class="navigation-btn" id="nav-btn-1">
          <i data-feather="arrow-left" style="color: black"></i>
        </div>
        <div class="navigation-btn" id="nav-btn-2">
          <i data-feather="arrow-right" style="color: black"></i>
        </div>
      </div>
    </div>
    <!-- Grid of all listings -->
    <div class="restaurant-grid">
      <!-- Start of row 1 -->
      <div class="grid-row">
        <!-- Listing 1 -->
        <div
          class="single-listing"
          id="listing1"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Listing 2 -->
        <div
          class="single-listing"
          id="listing2"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Listing 3 -->
        <div
          class="single-listing"
          id="listing3"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start of row 2 -->
      <div class="grid-row">
        <!-- Listing 4 -->
        <div
          class="single-listing"
          id="listing4"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Listing 5 -->
        <div
          class="single-listing"
          id="listing5"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Listing 6 -->
        <div
          class="single-listing"
          id="listing6"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start or row 3 -->

      <div class="grid-row">
        <!-- Listing 7 -->
        <div
          class="single-listing"
          id="listing7"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Listing 8 -->
        <div
          class="single-listing"
          id="listing8"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Listing 9 -->
        <div
          class="single-listing"
          id="listing9"
          data-restaurantID=""
          data-positionInJSON=""
        >
          <div class="restaurant-image">
            <img src="" />
          </div>
          <div class="restaurant-text">
            <div class="row-1">
              <div class="restaurant-name">
                <span>Loading...</span>
              </div>
              <div class="restaurant-rating">
                <span>Loading...</span>
              </div>
            </div>

            <div class="row-2">
              <div class="restaurant-cuisines">
                <span>Loading...</span>
              </div>
            </div>
            <div class="row-3">
              <div class="restaurant-address">
                <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of grid row -->
      <div class="sub-header"></div>
    </div>
    <!-- End of listing grid -->
    <div class="bottom-navigation-bar">
      <div class="button-row">
        <div class="nav-button"></div>
      </div>
    </div>
    <script src="../scripts/searchResultsScript.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
